p {
  padding: 0;
  margin: 0;
}

header {
  font-family: "Helvetica Neue",Helvetica,Arial,"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  color: #FFFFFF;
  background-image: url(../images/header.png);
  height: 540px;
  background-size: cover;

  .top-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    .title-div {
      padding-left: 180px;
      &:hover {
        opacity: 0.7;
      }
    }

    a {
      color: #FFFFFF;
      text-decoration: none;
      .title {
        font-size: 36px;
        letter-spacing: 3px;
      }
      .sub-title {
        font-size: 12px;
        letter-spacing: 2px;
      }
    }

    .header-navigation-div {
      padding-right: 80px;

      ul {
        padding: 0;
        margin-left: 40px;
        &:hover {
          border-bottom: solid #FFFFFF 2px;
          cursor: pointer;
        }
      }
    }
  }

  li {
    list-style: none;
    display: flex;
  }

}

.top-wrapper {
  // width: 1100px;
  margin: 0 auto;
}
